<% include ../header %>

    <header>
      <h1>Ntalk</h1>
      <h4>Bem-vindo!</h4>
    </header>

    <section>
      <form action="/login" method="post">
        <input type="text" name="user[name]"
        placeholder="Nome">
        <br>
        <input type="text" name="user[mail]"
        placeholder="E-mail">
        <br>
        <button type="submit">Entrar</button>
      </form>
    </section>

<% include ../footer %>