<% include ../header %>
  <header>
    <h2>Ntalk - Agenda de contatos</h2>
  </header>
  <section>
  <form action="/contact" method="post">
    <input type="text" name="contact[name]" placeholder="Nome">
    <input type="text" name="contact[mail]" placeholder="E-mail">
    <button type="submit">Cadastrar</button>
  </form>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
      <% contacts.forEach(function(contact, index) { %>
        <tr>
          <td><%- contact.name %></td>
          <td><%- contact.mail %></td>
          <td>
          <a href="/contact/<%- index %>">Detalhes</a>
          <a href="/chat" id="chat_<%- contact.mail %>">Conversar</a>
          </td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  </section>
<% include notify_script %>
<% include ../exit %>
<% include ../footer %>