<% include ../header %>

  <header>
    <h1>Ntalk</h1>
    <h4>Lista de contatos</h4>
  </header>

  <section>
    <p>Bem-vindo <%- user.name %></p>
  </section>

<% include ../exit %>
<% include ../footer %>